@{
    ViewData["Title"] = "DESAFIO WEBMOTORS - CLÁSSICOS 50+ ||  Anúncios";
}

<div class="text-center">
    <h6 class="shadow-sm p-3 mb-5 bg-white rounded display-6">DESAFIO WEBMOTORS - CLÁSSICOS 50+ ||  Anúncios</h6>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="/Anuncios/Adicionar">Adicionar anúncios</a>
</div>
<div class="text-center p-1">
    <a class="btn btn-info" href="/Anuncios/Gerenciar">Gerenciar informações de anúncios</a>
</div>


